@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

/* Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}